body {
  font-family: "Open Sans", sans-serif !important;
}

.text-slanted {
  font-family: cursive;
}

.text-green {
  color: #008000;
}

.letter-spacing {
  letter-spacing: 0.5rem;
}

.header-hero {
  min-height: calc(100vh - 64px);
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../src/images/delish2.jpg") center/cover no-repeat;
}
